<h1>Editing collegemodule</h1>

<%= render "form", collegemodule: @collegemodule %>

<br>

<div>
  <%= link_to "Show this collegemodule", @collegemodule %> |
  <%= link_to "Back to collegemodules", collegemodules_path %>
</div>
