<p style="color: green"><%= notice %></p>

<h1>Collegemodules</h1>

<div id="collegemodules">
  <% @collegemodules.each do |collegemodule| %>
    <%= render collegemodule %>
    <p>
      <%= link_to "Show this collegemodule", collegemodule %>
    </p>
  <% end %>
</div>

<%= link_to "New collegemodule", new_collegemodule_path %>
